<div class="container">
  <div class="columns is-centered">
    <div class="column is-6">
      <p class="title">New Price Rule</p>
      <%= render "form.html", changeset: @changeset, conn: @conn, action: price_rule_path(@conn, :create) %>
    </div>
  </div>
</div>
