<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="turbolinks-cache-control" content="no-preview">
    <meta name="csrf-token" content="<%= get_csrf_token() %>">
    <meta name="csrf-param" content="_csrf_token">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SEEK Checkout</title>

    <link data-turbolinks-track="reload" rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script data-turbolinks-track="reload" src="https://use.fontawesome.com/f024536808.js"></script>
    <script data-turbolinks-track="reload" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script data-turbolinks-track="reload" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"></script>
    <script data-turbolinks-track="reload" src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <section class="hero is-warning is-fullheight is-bold">
      <header class="hero-head">
        <%= partial "navbar.html", conn: @conn, session: assigns[:current_session] %>
        <%= partial "notifications.html", message_levels: message_levels(), conn: @conn %>
      </header>
      <main class="hero-body">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </section>
  </body>
</html>
