<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Checkout App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://use.fontawesome.com/f024536808.js"></script>
  </head>
  <body>
    <section class="section">
      <%= if info = get_flash(@conn, :info) do %>
      <div class="notification is-info">
        <button class="delete"></button>
        <%= info %>
      </div>
      <% end %>

      <%= if error = get_flash(@conn, :error) do %>
      <div class="notification is-danger">
        <button class="delete"></button>
        <%= error %>
      </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </section>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
